
html,body
{
    
    overflow-x: hidden; 
}
body{
    font-family:'Roboto', sans-serif; ;
}
 *{
    margin: 0;
    padding: 0;

} 
.Main-header-Content-ChildContainer{
    background-image: url("https://img.cdn4dd.com/cdn-cgi/image/fit=cover,width=1200,format=auto,quality=60/https://cdn.doordash.com/media/consumer/home/landing/new/hero_landing_us_alt.jpg");
    display: flex;
    flex-flow: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 16px;
    padding-bottom: 192px;
}
.Main-header-Content-ChildContainer{
    display:flex;
    flex-direction: column;
}
.Header-Content-Main-COntainer{
    display:flex;
    flex-direction: row;
}
.Header-Logo-Rename{
    margin-left: 17px;
}
.Header-Content-Discription-SpanTag{
    margin-top: 96px;
    margin-bottom: 16px;
    display:block;
    margin-left:85px;
}
.Header-Content-Primary-Container{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgb(255, 255, 255);
    letter-spacing:-0.05ch;
    font-weight:700;
}
.Header-SearchBox-SvgContainer{
    display: flex;
    flex-direction: row;
    width:408px;
    background-color: rgb(255, 255, 255);
    padding-top: 4px;
    padding-bottom:4px;
    border-radius: 100px;
    box-shadow: rgb(214 214 214) 0px 0px 0px 1px inset;
}
.Header-SearchBox-SvgContainer:focus-within {
    outline: 2px solid rgb(101, 101, 255);
}
.Header-Searchbox-sUBMIT-button{
    background-color: inherit;
    text-decoration: none;
    border: none;
    height: 40px;
    width: 40px;
    background-color: rgb(235, 23, 0);
    border-radius: 100%;
    cursor:pointer;
}
.Header-textVBox-Input{
    font-size: 16px;
    padding-left: 7px;
    padding-right: 120px;
    border: none;
    outline: none;
    line-height: 38px;
}
.Header-SearchBox-Sv-ChildContainer-{
    padding-left: 6px;
    padding-top: 7px;
}
.ClassforsvgEnter{
    color:rgb(255, 255, 255);
}
.Header-SearchBox-Form{
    margin-top:16px;
}
.Main-Header_SignIn_button_Container{
    position: absolute;
    top: 16px;
    right: 0;
    padding-right: 24px;
    display:flex;
}
.Main-header-SignUpButton-Container{
    padding:11px 19px;
    background-color: white;
    border-radius: 19px;
}
.Main-header-Signin-Button-Container{
    padding: 11px 19px;
}
.main-header-main-container{
    position: relative;
}
.Main-header-SigninButton{
    color: white;
    font-weight: 900;
    font-size:16px;
}
.Main-header-SignUpButton-{
    font-size: 16px;
    font-weight: 900;
    color: rgb(63, 58, 58);
    text-decoration: none;
}
.Section-MainContainer{
     display: flex;
     margin-top: 96px;
     margin-bottom: 96px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
}
.inSection-DecomeDASHER-textContaienr-Child-h3tag-{
    display: flex;
    flex-direction: row;
}
.Section-DecomeDASHER-textContaienr-Child-h3tag-{
    text-align: center;
    /* padding-left: 15%;
    padding-right: 15%; */
}
.Section-DecomeDASHER-Button-{
    text-decoration: none;
    border: none;
    background-color: inherit;
    display:inline-flex;
    cursor:pointer;
}

.Section-Button---{
    text-decoration: none;
    border: none;
    background-color: inherit;
    display:inline-flex;
}
.Section-Container-Button3-Container{
    text-decoration: none;
    border: none;
    background-color: inherit;
    display:inline-flex;
    padding-left:15%;
}
.animage{
    max-width: 1075px;
    height: auto;
}
.classforothercontent{
    margin-top: 23px;
}
.Become-Patner-h2{
    font-size: 32px;
    margin-top: 8px;
    max-width: 257px;
    /* max-width:200px;
    margin-left:100px; */
}
.Section-DecomeDASHER-textContaienr-Child-h2tag{
    font-size: 32px;
}
.Section-Content-contaiNer-h2{
    font-size: 32px;
    margin-top: 8px;
}
.Section-Container-Button3-Spantag{
    padding-left: 3%;
}
.Section-DecomeDASHER-Buton-Span{
    color:red;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.04ch;
}
.Section-Button---Span-{
    color:red;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.04ch;
    cursor: pointer;
}
.Section-Container-Button3-Spantag{
    color:red;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: -0.04ch;
}

.Section-DecomeDASHER-textContaienr-Child-h3tag{
    margin-top: 8px;
    font-size: 18px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0ch;
    color: rgb(25, 25, 25);
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    width: 41%;
    margin-top: 8px;
}
.Section-textContaienr-Child-h3tag3{
    font-size: 18px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0ch;
    color: rgb(25, 25, 25);
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: inline-flex;
    width: 69%;
}
.Section-textContaienr-Child-h3tag3{
    margin-top: 8px;
}

.Become-Patner-Text-Container{
    max-width:244px;
}
.Section-Content-H3tag{
    font-size: 18px;
    font-family: DD-TTNorms, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0ch;
    color: rgb(25, 25, 25);
    margin: 0px;
    padding: 0px;
    max-width: 278px;
}
.Section-Content-H3tag{
    margin-top: 8px;
}
.Section-DecomeDASHEr-Button-SVG{
padding-top: 3%;
}
.a107{
    padding-top: 2%;
}
.Section-Button-SVg{
    padding-top: 2%;
}
.Section-Button-COntaienr-{
    margin-top:12px ;
    cursor:pointer;
}
.Section-DecomeDASHER-Button_Container{
    margin-top:12px;
}
.Section-Container-Button3-Container{
    margin-top: 12px;
    padding-left: 18%;
    cursor:pointer;
}
.itsaclass{
    padding-top:2%;
}
.Section-Contaent-h3-Container{
    display: inline-flex;
    flex-direction: column;
    padding-left: 22%;
}
.Middle-sEssion-FirstPartcOntainer{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.Middle-sEssion-FirstPart-SpanTag1{
    font-size:40px;
    font-weight:600;
    line-height: 48px;
    letter-spacing: -0.04ch;
    text-transform: none;
    color: rgb(25, 25, 25);
    margin-bottom: 12px;
    padding: 0px;
    max-width:269px;
    display: block;
}
.Middle-sEssion-FirstPart-Svg-PIctureIMG{
    transform:translate(0px,29px)
}
.Middle-sEssion-FirstPart-SpanTag2{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0ch;
    color: rgb(25, 25, 25);
    margin-bottom: 29px;
    padding: 0px;
    display: block;
    max-width:407px;
}
.Middle-sEssion-FirstPart-Svg-Child-Container-{
    margin-left: 64px;
}

.Middle-sEssion-FirstPart-Button{
    font-weight: 700;
    color: white;
    line-height: 18px;
    letter-spacing: 0ch;
    text-transform: none;
    text-align: center;
    display: inline;
    max-width: 100%;
    font-size: 16px;
    text-decoration: none;
    background-color: red;
    padding-top: 10px;
    padding-bottom:10px;
    border-radius: 100000px;
    padding-right: 15px;
    padding-left: 15px;
    
}
.Section-DecomeDASHER-textContaienr{
    padding-bottom: 0.5%;
}
.Middle-sEssion-SecondPart-Container
{
    padding-top: 96px;
    background-color: rgb(255, 240, 237);
    display:flex;
}
.Middle-sEssion-SecondPart-Container-Child{
    display:flex;
    flex-direction: row;
    align-items: center;
}
.Middle-sEssion-SecondPart-Span{
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: -0.04ch;
    color: rgb(25, 25, 25);
    display: block;
   
}
.Middle-sEssion-SecondPart-LInk{
    position: relative;
    max-width: 100%;
    padding-left: 20px;
    padding-right:20px;
    display: inline-flex;
    min-height: 40px;
    width: auto;
    align-items: center;
    justify-content: flex-start;
    border-radius: 1000px;
    border: none;
    text-decoration: none;
    text-align: center;
    background-color: rgb(235, 23, 0);
    color: rgb(255, 255, 255);
     font-weight: 700;
}

.Middle-sEssion-SecondPart-ContainerFor-Span{
    margin-left:64px;
}
.Middle-sEssion-SecondPart-ContainerFor-Span2{
    margin-bottom: 12px;
}
.Middle-sEssion-SecondPart-Span2{
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    color: rgb(25, 25, 25);
    display: block;
}
.Middle-sEssion-SecondPart-Span2Container{
    margin-bottom: 16px;
}
.img1{
    height: 154px;
    width: 154px;
}
.Footer-Link-Second ROw{
    background-color: inherit;
}
footer{
    background-color: inherit;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(25, 25, 25);
}
.Footer-Main-Container{
    width:1184px;
}

.Footer-Child-Container{
    max-width: 1160px;
    padding: 0px 20px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.Footer-Child-Container .Footer-Child2{
    flex-wrap: wrap;
    display: flex;
}
.Footer-child-3{
    padding-top: 32px;
    padding-bottom: 32px;
    flex: 1 1 0%;
}
.Footer-h2.tag{
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
}

.Footer-child-3> :first-child {
    margin-bottom: 8px;
}
.Footer-Link-COntainer{
    display: flex;
    justify-content: space-between;
}
.Footer-Link-ChildContainer{
    display:flex;
    flex-direction: column;
    flex:1 1 0%;
}
.Footer-Link-AnchorTag:visited{
color:inherit;
}
.Footer-Link-AnchorTag{
    text-decoration:none;
    color:inherit;
    cursor: pointer;
    transition: filter 0.2s ease 0s;
}
.Footer-child-3 .Footer-Link-child-tag .Footer-Link-ChildContainer .Footer-Link-AnchorTag {
    text-decoration: none;
}
.Footer-Link-ChildContainer > *{
     margin-top: 8px;
}
.Footer-Link-SpanTag{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: rgb(196, 196, 196);
    margin: 0px;
    padding: 0px;
    display: block;
}
.Footer-Link-SpanTag:hover{
    color: white;
    text-decoration: underline;
}

.Footer-Link-child-tag{
    display:flex;
    justify-content:space-between;
}
.Footer-Link-Second ROw{
    display:flex;
}
.anotherclassFooter-Main-Container{
    display: flex;
    flex: 1 1 0%;
    justify-content: space-between;
}
.anotherclassFooter-Main-Container > *{
    padding-top:32px;
    display:flex;
    flex-direction: column;
}
.anotherclassFooter-Main-Container > * > :first-child{
    margin-bottom: 8px;
}
.anotherclassFooter-Main-Container > * > * + *{
    margin-top: 8px;
}
.Footer-Link-Last Part{
    display:flex;
    flex:1 1 0%;
    justify-content:flex-end;
    overflow: hidden;
}
.Footer-Link-Last Part > * {
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.forFooter-Link-Last Part11:focus{
 background-color: white;
}
.forFooter-Link-Last Part{
    opacity: 0.7;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    background-color: rgb(75, 75, 75);
    border-radius: 8px;

}
.forFooter-Link-Last Part11{
    padding:2px 8px;
    border-radius: 8px;
    background-color: rgb (73, 73, 73);
    display:flex;
    justify-content: center;
}
.Footer-Link-Last Part > * > * + *{
    margin-top:12px;
}
.classforend{
    display: flex; 
    justify-content: space-between;
    padding: 32px 0px;
}
.classforend > * {
display: flex;
flex-wrap:wrap;
justify-content:center;
}
.classforend > * > * + *{
margin-left: 12px;
}

.Footer-bottom-Tags{
    max-width: 100%;
    display:flex;
    align-items:center;
    justify-content: flex-start;

}
.Footer-Doordash-logo-svg{
    text-decoration: inherit;
    cursor: pointer;
}
.Footer-Link-Logo{
    display:inline-flex;
    flex-wrap:nowrap;
    align-items: center;
    text-decoration: none;
    vertical-align: middle;
    height:27px;
}
.Footer-anchor-tag{
    text-decoration: none;
    color:inherit;
    cursor: pointer;
    transition:filter 0.2s ease 0s;

}
.Footer-Doordash-bottom-span{
    font-size: 12px;
    font-weight:400;
    line-height: 18px;
    letter-spacing: 0ch;
    text-transform: none;
    color: rgb(196, 196 ,196);
    display:block;
}
.Footer-anchor-tag:visited{
    color:inherit;
}
.Section-Container-TrytheAPP{
    transform:translateY(-10px);
}
.Header-SearchBox-Sv-ChildContainer-{
    position:relative;
}
.Header-SearchBox-Mgnifying_glass-Contaienr{
    position: absolute;
    top: 18%;
}

@media only screen and (min-width: 1597px) {
    .aspantag span {
     font-size: 55px;
    }
  }
  @media only screen and (max-width: 1441px) {
    .aspantag span {
     font-size: 50px;
    }
  }
  @media only screen and (max-width: 1343px) {
    .aspantag span {
     font-size: 50px;
     left:10%;
    }
  }
  @media only screen and (max-width:650px){

    .context{
        margin-left: 13%;
    }
  }
  @media only screen and (max-width:958px){
    .inbottom{
        margin-left:10%;
      
    }
  }

  @media only screen and (min-width: 1184px){

  .Middle-sEssion-FirstPartcOntainer {
      flex-flow: row nowrap;
      max-width: 1184px;
      margin: 0px auto;
  }
  }



 @media only screen and (min-width: 1184px){

 .img3{
    height: 154px;
    width: 154px;
}
.Become-Svg{
    height: 154px;
    width: 154px;
}
.img1{
    height: 154px;
    width: 154px; 
}
}
@media (min-width: 1184px){
.Middle-sEssion-SecondPart-Container {
    padding: 100px 0px 96px;
}
}

@media screen and (min-width: 960px){
.Header-Content-Discription-SpanTag {
    font-size: 64px;
    max-width: 668px;
    line-height: 76px;
} 
 }
@media only screen and (min-width: 0px) and (max-width: 1183px){
.img3 {
    height: 124px;
    width: 124px;
    margin-right: 64px;
}
.Become-Svg{
    height: 124px;
    width: 124px;
}
.img1{
    height: 124px;
    width: 124px;
    margin-right: 64px;
}

.inSection-DecomeDASHER-textContaienr-Child-h3tag-{
    flex-direction: column;

   transform: translateX(-120px);
    
}
.insideSection-DecomeDASHER-textContaienr-Child-h3tag-{
    display:flex;
}
.Section-DecomeDASHER-textContaienr-Child-h3tag-{
    text-align: left;
}
.Section-DecomeDASHER-textContaienr-Child{
    display:flex;
    flex-direction: column;
}
.Section-DecomeDASHER-textContaienr-Child-h2tag{
    text-align: left;
}
.Section-DecomeDASHER-textContaienr-Child-h3tag{
    width:239px;
    text-align: left;
}
.Become-Svg{
    margin-right:64px;
}
.Section-Container-TrytheAPP{
    transform: translateX(0px);
    display:flex;
}
.Section-Container-Button3-Spantag{
    padding-left: 0%;
    font-size: 14px;
}
.Section-textContaienr-Child-h3tag3{
    text-align: left;
    width:46%;
}
.Section-Contaent-h3-Container{
    padding-left:0px;
}
.Section-Container-Button3-Container{
    padding-left:0%;
}
.Middle-sEssion-FirstPart-Svg-PIctureIMG{
    max-width:702px;
    width:100%;
    height: auto;
}
.Section-Become-Patner-Container{
    display: flex;
}
.Section-MainContainer{
    /* transform: translateX(269px); */
    margin-bottom:26px;
    padding-left: 44%;
}
.Header-Searchbox-sUBMIT-button{
    background-color: white;
}
.ClassforsvgEnter{
    color: black;
}
.Section-DecomeDASHER-Buton-Span{
    font-size: 14px;
}
.Section-Button---Span-{
    font-size:14px;
}
.Section-DecomeDASHEr-Button-SVG{
    padding-top:4.5%;
}
.anothersvg{
    padding-top:3.5%;
}
.a107{
    padding-top:0.8%;
}
.Middle-sEssion-FirstPart-SpanTag1{
    font-size: 24px;
    margin-bottom:8px;
    line-height: normal;
    max-width:161px;
}
.Middle-sEssion-FirstPart-SpanTag2{
    font-size: 14px;
}
.Middle-sEssion-FirstPart-Description{
    margin-left: 64px;
}
.Middle-sEssion-SecondPart-PIC{
    max-width: 699.7px;
    width: 100%;
    height: auto;
}
.Middle-sEssion-SecondPart-Span{
    font-size: 24px;
    line-height: normal;
}
.Middle-sEssion-SecondPart-Span2{
    font-size: 14px;
    max-width: 374px;
}

.Middle-sEssion-SecondPart-Container{
    padding-top: 144px;
    padding-bottom: 96px;
}
.insideSection-DecomeDASHER-textContaienr-Child-h3tag-{
    padding: 16px;
}
.Section-Become-Patner-Container{
    padding:16px;
}
.Section-Container-TrytheAPP{
    padding: 16px;
}
.Middle-sEssion-FirstPartcOntainer{
    transform: translateY(55px);
}

}


@media only screen and (min-width: 768px){
    .Middle-sEssion-SecondPart-Container-Child{
    flex-flow: row nowrap;
    max-width: 1184px;
    margin: 0px auto;}

    
    .Header-SearchBox-Mgnifying_glass-Contaienr{
        display: none;
    }
}
@media only screen and (min-width: 1783px){
    .inSection-DecomeDASHER-textContaienr-Child-h3tag-{
        transform: translateX(-120px);
    }
    }
@media only screen and (min-width:1184px) and (max-width:1204px)
{
    .Section-DecomeDASHER-textContaienr-Child-h3tag{
        width: 68%;
    }
    .Section-Container-TrytheAPP {
        transform: translateX(46px);
    }
    .Section-Become-Patner-Container{
        transform: translateX(163px);
    }
    .Section-Content-H3tag{
        width:266px;
    }
    .Section-Become-Patner-Container{
        transform: translateX(68px);
    }
    .insideSection-DecomeDASHER-textContaienr-Child-h3tag-{
        padding-left: 100px;
        max-width: 365px;

    }
}


@media only screen and (min-width:1184px){
.Middle-sEssion-FirstPart-Svg-PIctureIMG{
    max-width: 713px;
    max-height: 513px;
}
.Middle-sEssion-SecondPart-PIC{
    max-width: 712.73px;
    height: auto;
}
.Middle-sEssion-FirstPartcOntainer{
    transform: translate(0px,29px);
}
}


@media only screen and (max-width:960px){
    .Header-Logo-Rename{
        display: none;
    }
    .Header-Content-Discription-SpanTag{
        font-size: 32px;
        display: block;
        max-width: 344px;
    }
   .Header-Content-Logo-Container svg{
        width: 56px;
        height:32px;
    }
    .Header-Content-Discription-SpanTag{
        padding-top: 30px;
        padding-bottom: 10px;
        margin-top: 0px;
        margin-left: 36px;
    }
    .Main-header-Content-ChildContainer{
        padding-top: 94px;
        padding-bottom: 94px;
    }
    .Middle-sEssion-FirstPartcOntainer{
        transform: translateY(-7px);
        }
    .Middle-sEssion-FirstPart-Button{
        /* padding-top: ;
        padding-bottom: ; */
        font-size:14px;
    }    
    .Middle-sEssion-FirstPart-Svg-PIctureIMG{
        max-width: 840px;
        width:100%;
        height: auto;
    }
    .Middle-sEssion-FirstPart-SpanTag1{
        max-width:234px;
    }
    .Middle-sEssion-SecondPart-ContainerFor-Span{
        padding-right: 52px;
    }
    .Middle-sEssion-SecondPart-LInk{
        font-size: 14px;
        min-height: 31px;
        padding-left: 16px;
        padding-right: 16px;
    }
    .Footer-Link-Second ROw{
        flex-direction: column-reverse;
    }
    .Footer-Link-Last Part{
        justify-content: center;
    }
    .Footer-Child-Container .Footer-Child2{
        flex-direction: column;
    }
}
    
    @media only screen and (max-width:767px){
        .img1{
            width: 88px;
            height:88px;
            margin-right: 32px;
        }
        .Become-Svg{
            width:88px;
            height:88px;
            margin-right:32px;
        }
        .Middle-sEssion-SecondPart-Picture-Container {
    
            margin-right: 47px;
            align-self: baseline;
            
        }
        .img3{
            width:88px;
            height:88px;
            margin-right: 32px;
        }
        .Middle-sEssion-FirstPartcOntainer{
            flex-direction:column-reverse;
            align-items: flex-end;
            transform: translateY(0px);
        }
        .Middle-sEssion-FirstPart-SpanTag2{
            max-width: 311px;
        }
        .Middle-sEssion-FirstPart-Svg-PIctureIMG{
            height: auto;
            width: 100%;
            max-width: 500px;
            transform: translate(0px,0px);
        }
        .Middle-sEssion-SecondPart-Container{
            padding-top:343px;
            margin-top:-287px;
        }
        .Middle-sEssion-FirstPart-Description{
            margin-left: -34px;
            align-self: center;
            margin-top: 20px;
        }
        .Middle-sEssion-SecondPart-Container-Child{
            flex-direction: column;
            align-items: center;
            width:100%;
            max-width: 396px;
        }
        .Middle-sEssion-SecondPart-ContainerFor-Span{
            margin-left:58px;
        }
        .Middle-sEssion-SecondPart-ContainerFor-Span2{
            margin-bottom: 10px;
        }
        .Middle-sEssion-FirstPart-SpanTag1{
            max-width:285px;
        }
        .Footer-Link-COntainer{
            flex-direction: column;
            text-align: center;
        }
        .Footer-Child-Container .Footer-Child2{
            flex-direction: row;
          
        }

        .Footer-child-3> :first-child {
            margin-left: 10px;
            text-align: center;
        }
        .Footer-Link-child-tag{
            flex-direction: column;
            text-align: center;
        }
        .anotherclassFooter-Main-Container{
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        .classforend{
            flex-direction: column-reverse;
            align-items: center;
        }
        .Footer-bottom-Tags{
            margin-top: 12px;
        }
        .Header-Searchbox-sUBMITsVG-cHILD{
            position:relative;
            right:33%;

        }
        .Header-SearchBox-SvgContainer{
            width:275px;
            padding-top:5px;
            padding-bottom: 5px;
            border-radius:20px;
        }
        .Header-textVBox-Input{
            padding-right: 0px;
        }
        .childHeader-SearchBox-Sv-ChildContainer-{
            display: none;
        }
        .Header-textVBox-Input{
            padding-left:32px;
        }
        .Section-MainContainer{
            padding-left: 0px;
         transform: translateX(269px);
        }
        .Middle-sEssion-SecondPart-PIC{
            max-width: 537px;
        }

}


.Header-Content-Logo-Container {
    width:42px;
    height:24px;
}
@media only screen and (max-width: 726px){
    .Middle-sEssion-SecondPart-Picture-Container{
        align-self: baseline;
        /* max-width: 357px; */
    }
    .Middle-sEssion-FirstPart-Description{
        margin-left: -53px;
    }
    .Middle-sEssion-SecondPart-ContainerFor-Span{
        margin-left:25px;
    }
    .Footer-bottom-Tags{
        margin-left: 28px;
    }
    .Footer-Main-Container{
        padding-bottom: 20px;
    }
    .img1{
        margin-right: 32px;
    }
    .Become-Svg{
        margin-right: 32px;
    }
    .img3{
        margin-right: 32px;
    }
.Section-DecomeDASHER-textContaienr-Child-h2tag{
    min-width: 553px;
}
.Section-DecomeDASHER-textContaienr-Child-h3tag{
    width:236px;
}
.Middle-sEssion-SecondPart-LInk{
    padding-left:10px;
    padding-right:9px;
}
.Middle-sEssion-FirstPart-SpanTag2{
    line-height: 21px;
    margin-bottom:24px;
}
.Middle-sEssion-FirstPart-Button{
    padding-top:8px;
    padding-bottom:8px;
    padding-right:13px;
    padding-left:13px;
}
} 

@media only screen and(min-width:399px) and (max-width: 430px){
    .Middle-sEssion-SecondPart-ContainerFor-Span{
        margin-top:18px;
    }
    footer{
        padding-bottom: 188px;
    }
    .Delivery-Locations{
        margin-left: 50px;
      }
}
@media only screen and (min-width:375px) and (max-width:372px){
 .Section-DecomeDASHER-textContaienr-Child-h2tag{
    min-width: 585px;
 }
}
.Delivery-locations-span{
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: rgb(196, 196 ,196);
    display: block;
    text-decoration: none;
}
@media only screen and (min-width:412px) and (max-width:767px){
    .Middle-sEssion-SecondPart-Container-Child{
       max-width:705px;
    }
}
